<form action="/bookmarks" method="post">
  <lable>
    Title
    <input type="text" name="title" value="cooking">
  <label>
    Web Address
    <input type="text" name="url">
  </label>
  <input type="submit" value="Add">
</form>
